<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%=title%></title>
<link rel="icon" href="/images/favicon.png" type="image/png" sizes="16x16">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="츠키코봇 공식홈페이지">
<meta name="keywords" content="츠키코봇,츠키코,디스코드">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="/css/animate.css">
<!-- Resource style -->
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/owl.theme.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<!-- Resource style -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#main"><img src="/images/testlogo.png" width="80" height="30" alt="iLand" /></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#main">홈</a></li>
            <li><a class="page-scroll" href="#classes">소개</a></li>
           <!--   <li><a class="page-scroll" href="#review">초대</a></li>
          <li><a class="page-scroll" href="#features">기능들</a></li>
       
           <li><a class="page-scroll" href="#pricing">Pricing</a></li> 
            <li><a class="page-scroll" href="#contact">연락</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid -->
  
  <div class="main app form" id="main"><!-- Main Section-->
    <div class="hero-section">
      <div class="container nopadding">
        <div class="col-md-12">
          <div class="hero-content text-center">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s">츠키코 봇</h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s"> 강력한 기능들, 더 많은 차별점 </p>
            <a target="_blank" href="https://discordapp.com/api/oauth2/authorize?client_id=343697719522623488&permissions=8&scope=bot" class="btn btn-action wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">초대하기</a> </div>
        </div>
      </div>
    </div>
    <!-- Classes Section -->
    <div class="pitch text-center" id="classes">
      <div class="container">
        <div class="pitch-intro">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">츠키코 봇은 많은 기능들이 존재합니다</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">또한 츠키코 봇은 사용자가 커스터마이징 할 수 있다는 점에 큰 차별점이 있습니다</p>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-checkmark-outline"></i> </div>
            <div class="pitch-content">
              <h1>검증된 안정성</h1>
              <p> 사용자가 직접 코드를 편집 할 수 있다는 점에서 안정성이 높습니다 </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-mic-outline"></i> </div>
            <div class="pitch-content">
              <h1>음악 재생 기본 제공</h1>
              <p> 유저들이 만드는 추가기능 이외에 개발자가 직접 몇몇개의 기능을 미리 넣어줍니다! </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1>애드온 기능</h1>
              <p> 코딩을 할 줄 몰라도 애드온을 받아 추가기능을 추가하는 차별점이 있습니다 </p>
            </div>
          </div>
       <!--   <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1>Sport Nutrition</h1>
              <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1>Functional Training</h1>
              <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1>Crossfit</h1>
              <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Features Section -->
  <!--  <div class="app-features text-center" id="features">
      <div class="container">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s">My promise to you</h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s"> Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,<br class="hidden-xs">
          convallis nec purus vitae, iaculis posuere sapien. </p>
        <div class="col-md-4 features-left text-right">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon"> <i class="ion-ios-list-outline"></i> </div>
            <div class="feature-single">
              <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
            <div class="icon"> <i class="ion-ios-speedometer-outline"></i> </div>
            <div class="feature-single">
              <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
            <div class="icon"> <i class="ion-ios-pulse"></i> </div>
            <div class="feature-single">
              <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="/images/iPhone-app.png" alt="App" /> </div>
        <div class="col-md-4 features-left text-left">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon"> <i class="ion-ios-americanfootball-outline"></i> </div>
            <div class="feature-single">
              <p> Bring to the table win-win survival strategies to ensure proactive domination.</p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
            <div class="icon"> <i class="ion-ios-heart-outline"></i> </div>
            <div class="feature-single">
              <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
            <div class="feature-single">
              <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- Split Feature1 Section -->
    <div class="split-features">
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="/images/info.png" alt="Image" /> </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-content">
          <h1 class="wow fadeInUp">애드온 추가기능으로 확장성 극대화! <br></h1>
          <p class="wow fadeInUp"> 츠키코 봇은 다른 사용자가 만든 애드온으로 추가기능을 추가 할 수 있습니다!</p>
          <ul class="wow fadeInUp">
            <li>방법:</li>
            <li>유저들이 만든 추가기능 다운로드</li>
            <li>bot/addons/commands 폴더에 넣기</li>
            <li>봇실행</li>
          </ul>
        </div>
      </div>
    </div>
     <!-- Split Feature2 Section -->
  <!--  <div class="split-features2">
      <div class="col-md-6 nopadding">
        <div class="split-content second">
          <h1 class="wow fadeInUp">See The Results and Feel the difference</h1>
          <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
          <ul class="wow fadeInUp">
            <li>Nulla ornare purus non consequat ultricies.</li>
            <li>Etiam est nisl, molestie sed egestas bibendum</li>
            <li>Aliquam vel euismod elit, sed suscipit est.</li>
            <li>Curabitur egestas justo neque viverra vel. </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="/images/app_image2.png" alt="Image" /> </div>
      </div>
    </div>
     <!-- Split Feature3 Section -->
 <!--   <div class="split-features">
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="/images/gym-3.jpg" alt="Image" /> </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-content">
          <h1 class="wow fadeInUp">Command Performance You<br>
            deserve it</h1>
          <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
          <ul class="wow fadeInUp">
            <li>Nulla ornare purus non consequat ultricies.</li>
            <li>Etiam est nisl, molestie sed egestas bibendum</li>
            <li>Aliquam vel euismod elit, sed suscipit est.</li>
            <li>Curabitur egestas justo neque viverra vel. </li>
          </ul>
        </div>
      </div>
    </div>
     <!-- Bold call to action Section -->
   <!-- <div class="feature-sub">
      <div class="container">
        <div class="sub-inner">
          <h1 class="wow fadeInUp">If it’s not personal, It’s not possible! See The Results and Feel the difference immediatly.</h1>
          <a href="#" class="btn btn-action wow fadeInUp">Get Started</a> </div>
      </div>
    </div>
     <!-- Client Section -->
   <!-- <div class="review-section" id="review">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="reviews owl-carousel owl-theme">
            <div class="review-single"><img class="img-circle" src="/images/customer1.png" alt="Client Testimonoal" />
              <div class="review-text wow fadeInUp" data-wow-delay="0.2s">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                  In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>Johnathan Doe</h3>
                <h3>Marketing Head Matrix media</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="/images/customer2.png" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                  In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>Oidila Matik</h3>
                <h3>President Lexo Inc</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="/images/customer3.png" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                  In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Alex Dattilo</h3>
                <h3>CEO Optima Inc</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="/images/customer4.png" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                  In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Robert Hammer</h3>
                <h3>design head Omega Corp</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="/images/customer5.png" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                  In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Rita Valentine</h3>
                <h3>CEO Behena digital</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Package Section -->
   <!-- <div id="pricing" class="pricing-section text-center">
      <div class="container">
        <div class="col-md-12 col-sm-12 nopadding">
          <div class="pricing-intro">
            <h1 class="wow fadeInUp" data-wow-delay="0s">PACKAGES</h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s"> Lorem ipsum dolor sit. Incidunt laborum beatae earum nihil odio consequatur officiis <br class="hidden-xs">
              tempore consequuntur officia ducimus unde doloribus quod unt repell </p>
          </div>
          <div class="col-sm-6">
            <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
              <div class="pricing-details">
                <h2>For Beginners</h2>
                <span>$49.50</span>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                </ul>
                <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
              <div class="pricing-details">
                <h2>For Professionals</h2>
                <span>$99.50</span>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                </ul>
                <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Subscribe Form -->
  <!--  <div class="cta-sub no-color">
      <div class="container">
        <div class="cta-inner">
          <h1 class="wow fadeInUp" data-wow-delay="0s">Sign Up to Our Newsletter and get exciting offers</h1>
          <p class="wow fadeInUp" data-wow-delay="0.2s"> Enter your email address we promise, never disclose<br class="hidden-xs">
            or sell your email address. </p>
          <div class="form wow fadeInUp" data-wow-delay="0.3s">
            <form class="subscribe-form center-form wow zoomIn" action="php/subscribe.php" method="post" name="subscribeform" id="subscribeform">
              <input class="mail" type="email" name="email" placeholder="Join the wait list" autocomplete="off" id="subemail">
              <input class="submit-button" type="submit" value="Subscribe" name="send" id="subsubmit">
            </form>
            <!-- subscribe message -->
            <div id="mesaj"></div>
            <!-- subscribe message --> 
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer Section -->
    <div class="footer" id="contact">
      <div class="container">
        <div class="col-md-6 contact">
          <h1>츠키코 봇에 대해</h1>
          <p>츠키코 봇은 일부 코드를 github에서 참고한 오픈 소스 디스코드 봇 프로젝트입니다.</p>
          <p>여러분들이 사용하기 쉽게 웹사이트를 동봉하고 있습니다<br>
            </p>
        </div>
        <div class="col-md-3 contact footer-menu">
          <h1>소셜</h1>
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a target="_blank" href="https://gitlab.com/cheongwol/TsukikoBot">GitLab</a></li>
          </ul>
        </div>
        <div class="col-md-3 contact">
          <h1>연락</h1>
          <a href="mailto:kito3012@naver.com">kito3012@naver.com</a> </div>
      </div>
    </div>
  </div>
  
  <!-- Scroll To Top --> 
  
  <a id="back-top" class="back-to-top page-scroll" href="#main"> <i class="ion-ios-arrow-thin-up"></i> </a> 
  
  <!-- Scroll To Top Ends--> 
  
</div>
<!-- Main Section -->
</div>
<!-- Wrapper--> 

<!-- Jquery and Js Plugins --> 
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script> 
<script type="text/javascript" src="/js/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/js/js/plugins.js"></script> 
<script type="text/javascript" src="/js/js/menu.js"></script> 
<script type="text/javascript" src="/js/js/custom.js"></script> 
<script src="/js/js/jquery.subscribe.js"></script>
</body>
</html>
